

{% block body %}
<div id="question" class="px-2 py-4 w-11/12 mx-auto flex justify-between h-full">
    <div id="addQuestion" class="w-5/12 flex ">
        
        {% if app.user %}
        {{ form_start(addQuestion, {'attr': {'class': 'w-full'}})}}
           <label for="question_title">Questions</label>
            {{ form_widget(addQuestion.content) }}
            <button type="submit" class="rounded-full bg-secondary w-4/12 p-2 mx-auto transition-all hover:bg-primary">send</button>
        {{ form_end(addQuestion) }}
        {% endif %}
    </div>
    <div id="showQuestion" class="w-5/12 block  ">
        <h2>Questions</h2>
        {% for question in product.question %}
            <div class="p-2 my-2 border-t border-secondary">
                {{ question.content }}<br>
                <span class="text-xs text-gray-500">by {{ question.user.username }}</span>
                <div class='reponses'>


                    {% for reponse in question.reponses %}
                        <div class="p-2 my-2 border-t border-secondary w-11/12 ml-auto">
                            {{ reponse.content }}<br>
                            <span class="text-xs text-gray-500">by {{ reponse.user.username }}</span>
                        </div>
                    {% endfor %}

                    
                </div>
                <form action="{{path('app_reponse_new')}}">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <br>
                    <input type=" textarea"required="required" name="reponse" placeholder="reponse">
                    <button type="submit" class="rounded-full bg-secondary w-4/12 p-2 mx-auto transition-all hover:bg-primary">send</button>
                </form>
            </div>

        {% else %}
            <div class="p-2 border-secondary">
            Aucune question
            </div>
        {% endfor %}
    </div>
    

</div>

{% endblock %}